body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 100 %;
    background-color:cadetblue;
    padding-left: 15px;
}

header{
    font-size: 27px;
}

line{
    color: black;
    width: 100%;
}
section{
    padding-top: 25px;
    padding-left: 20px;
    width: 60%;
    float: left;
}

aside{
    width: 30%;
    float: left;
    padding-left: 20px;
}

footer{
    clear: both;
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}

.top_menu ul, .top_menu li{
    margin: 0;
    padding: 0;
}
.top_menu ul{
    list-style:none;
    float:left;
}

.top_menu ul li{
    float:left;
    margin-right:20px;	
	font: bold 22px sans-serif;
	text-align: center;
	text-decoration: none;
}

.top_menu ul li a{
    text-decoration:none;
    color: black;
    
}

.fecha{
    margin-top: 10px;
}

.subtitulo{
    padding-top: 10px;
    font-weight: 800;
}

.txt{
   background-color: dimgrey;
    padding-left: 15px;
    padding-bottom: 5px;
}

.lista{
    list-style-type: none;
}

.ch{
    padding-left: 25px;     
}
